@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>@ViewData["Developer"]</p>
<p><strong>More information: </strong><a href="erickleandro.com.br">Erickleandro.com.br</a></p>
